<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_CacheManager::group"
             title="Cache Manager"
             module="Panth_CacheManager"
             sortOrder="90"
             parent="Panth_Core::panth_extensions"
             resource="Panth_CacheManager::config"/>
        <add id="Panth_CacheManager::warmup_log"
             title="Warmup Log"
             module="Panth_CacheManager"
             sortOrder="10"
             parent="Panth_CacheManager::group"
             action="panth_cachemanager/warmup/index"
             resource="Panth_CacheManager::config"/>
        <add id="Panth_CacheManager::settings"
             title="Configuration"
             module="Panth_CacheManager"
             sortOrder="20"
             parent="Panth_CacheManager::group"
             action="adminhtml/system_config/edit/section/panth_cachemanager"
             resource="Panth_CacheManager::config"/>
    </menu>
</config>
